<%- include("partials/header") -%>
    
        <div class="page-title">
            <h2><%= post_title %></h2>
            <p><%= post_text %></p>
        </div>
    </div>

    <footer>
        &copy; Gabriel Santana
    </footer>

</body>

</html>